VITE_SUPABASE_URL=https://mztipizeqagneoblipqc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im16dGlwaXplcWFnbmVvYmxpcHFjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mzc2MzE0OTYsImV4cCI6MjA1MzIwNzQ5Nn0.3Rw1hMVRyQS9UKOz_sZbN-LUZepkOCwXdjtD0_Cg_Ys
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im16dGlwaXplcWFnbmVvYmxpcHFjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTczNzYzMTQ5NiwiZXhwIjoyMDUzMjA3NDk2fQ.eHbfNyVbzTcen2R9qLYQH2FavRo1cZZFIzJ2Eqh83RY
DATABASE_URL="postgresql://postgres.mztipizeqagneoblipqc:WrHNPH3iFWfPjDPI@aws-0-us-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
VITE_TELEGRAM_BOT_TOKEN=5500806685:AAHbScRB3QdYfX7TLH_6GLnzo0hU8WXur6o
VITE_TELEGRAM_GROUP_CHAT_ID=-1002421517137