VITE_SUPABASE_URL=https://yekrwjqzthfcdwfvuemz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlla3J3anF6dGhmY2R3ZnZ1ZW16Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzAyODI1OTksImV4cCI6MjA0NTg1ODU5OX0.N_nO7Ij8Ks5FlRLRQxU2ocNddd2apc2HVDEiX9Bp8S0
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlla3J3anF6dGhmY2R3ZnZ1ZW16Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTczMDI4MjU5OSwiZXhwIjoyMDQ1ODU4NTk5fQ.Q1fE1Ex5Szhcm3GSck8ld6y59hoTmzBKt1EJ1ay6miU
DATABASE_URL=postgres://postgres.yekrwjqzthfcdwfvuemz:wdwdwde23r3fd33FM,!@aws-0-eu-central-1.pooler.supabase.com:6543/postgres
VITE_TELEGRAM_BOT_TOKEN=5500806685:AAHbScRB3QdYfX7TLH_6GLnzo0hU8WXur6o
VITE_TELEGRAM_GROUP_CHAT_ID=-1002421517137